@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-family: montserrat, sans-serif;
}

.case {
    display: flex;
    justify-content: center;
    background-color: #dad7cdb4;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, .6);
}

.case-txt {
    margin-top: 30%;
}

.case-txt-txt {
    margin: 50px 0 30px 0;
    font-weight: bold;
    font-size: large;
}

.txt {
    border: none;
    outline: none;
    background-color: #dad7cd;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    transition: all .5s;
    font-family: inherit;
}

.txt:focus {
    background-color: #dad7cd86;
}

.case-btn {
    display: flex;
    margin-top: 150px;
    margin: auto;
}

.btn {
    margin: auto;
    border: none;
    color: black;
    background-color: #dad7cd;
    border-radius: 10px;
    padding: 10px 30px;
    transition: all .2s;
    cursor: pointer;
    font-family: inherit;
    font-size: 25px;
}

.btn:hover {
    background-color: #dad7cd86;
}

@media (max-width: 550px) {
    .case {
        width: 300px;
        height: 350px;
    }
    .case-btn {
        margin-top: auto;
    }
    .btn {
        font-size: 15px;
    }
}